@mixin mobile-styles {
  @media (max-width: 1024px) {
    .quickStats {
      flex-wrap: wrap;
    }
    .statBox {
      min-width: 250px;
    }
  }
  @media (max-width: 768px) {
    .statBox {
      min-width: 100%;
    }
  }
}
